<div class="tasklist-component-container">
  <!-- remove all tasks button -->
  <div class="removeall">
    <button class="removeall-button" (click)="removeAllTasks()">CLEAR</button>
  </div>
  <h1 class="title">What To Do?</h1>
  
  <div class="container">
    <!-- task list -->
    <ol class="task-list" *ngIf="tasklist">
      <!-- task item -->
      <li class="todo-item" *ngFor="let task of tasklist | async">
        
        <!-- check box for task completion   -->
        <div *ngIf="!task.completed" class="check-box" (click)="toggleCompleteTask(task)">
            <i class="material-icons">check</i>
        </div>
        <div *ngIf="task.completed" class="check-box completed" (click)="toggleCompleteTask(task)">
          <i class="material-icons">check</i>
      </div>

        <!-- Show task description when task is not being edited. -->
        <div *ngIf="!task.editing && !task.completed" class="todo-text">
          {{ task.description }}
        </div>
        <p *ngIf="!task.editing && task.completed" class="todo-text completed">
          {{ task.description }}
        </p>
        <!-- buttons for edit and delete -->
        <div *ngIf="!task.editing" class="task-controls-container" appToolTipSingleton (click)="$event.stopPropagation()">
          <!-- edit button   -->
          <div class="task-control-button" appToolTip="Edit Task" (click)="setEdit(task);">
                <i class="material-icons">edit</i>
          </div>
          <!-- delete button -->
          <div class="task-control-button is-danger" appToolTip="Delete Task" (click)="removeTask(task.id)">
                <i class="material-icons">delete</i>
          </div>
        </div>

        <!-- Show text box for editing task description. -->
        <form class="edit-form">
          <input *ngIf="task.editing" type="text" (ngSubmit)="editTask(task)" class="edit-text" value={{task.description}} (keyup)="onKeyEdit($event)"> 
          <button *ngIf="task.editing" type="submit" class="save-button" (click)=editTask(task)>Save</button>
          <button *ngIf="task.editing" class="cancel-button" (click)=cancelEdit(task)>Cancel</button>
        </form>
        
      </li>
    </ol>
  </div>
  
  <div >
    <form class="add-container" (ngSubmit)="addTask()">
      <input type="text" class="add-text" [(ngModel)]="this.newTaskDescription" [ngModelOptions]="{standalone: true}" placeholder="Add a task!" />
      <button type="submit" class="add-button"><i class="material-icons">forward</i></button>
    </form>
  </div>
  
</div>
