global styles or style files
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 
}

body {
  background-image: url('../images/light-bulb.jpg');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Trebuchet MS', sans-serif;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  background-attachment: fixed;
  width: 100%;
}


html, body { height: 100%; }
body { margin: 0; }
  

/* 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
